.container_graph_padding_up-down {
    padding: 60px 0;


}
.container_graph_padding_side {
    margin-left: 72.667px;
    margin-right: 72.667px;
    padding-left: 12px;
    padding-right: 12px;


}


.row {
    margin-left: 12px;
    margin-right: 12px;

}
.Graph_left_img {
    padding-left: 12px;
    padding-right: 12px;

}
.Graph_left_img_src {

}

.Graph_right {
    padding-left: 12px;
    padding-right: 12px;




}
.Graph_right h{
    margin-bottom: 8px;

}


.Graph_right_content{
    margin-bottom: 16px;

}

.Graph_right_Graph{


}

.progress{


}

.skill{
    margin-bottom: 6px;

}

.progress-bar-wrap{
    

}