#clients-2{
    width: 100%;
    display: flex;
    background-color: #f3f5fa;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#clients-box-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#client-2{
    justify-content: center;
    padding: 0 1rem;
}

#img-2{
    padding: 15px 0;
    max-width: 90px;
    filter: grayscale(100);
    transition: 0.3s;
}

#img-2:hover{
    transform: scale(1.1);
    filter:none;
}

@media screen and (min-width: 576px) {
    #clients-box-2{
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    #clients-box-2{
        max-width: 720px;
    }
}

@media screen and (max-width:990px){
    #client-2{
        display: flex;
        min-width: 250px;
        justify-content: center;
    }
    #clients-box-2{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {
    #clients-box-2{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    #clients-box-2{
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    #clients-box-2{
        max-width: 1320px;
    }
}