
/* stickly */
header{
  position: sticky;
  top:0;
  z-index: 1000;
}

/* header부분 */
.header-icon-1{
  width: 22px;
  height: 22px;


}
.gray-1:hover{
  fill: currentColor;
  opacity: 1;
}
.img-1{
  height: 25px;
}
.header-1{
  justify-content: space-between;
}

.header-1,.top-center-1,.top-right-1,.free-1,.top-left-1{
  display: flex;
  align-items: center;
}
header{
  height: 32px;
  background-color: #023b6d;
  color: white;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.top-left-1>img{
  padding-left: 10px;
  margin-right: 20px;
}
.gray-1{
  fill: currentColor;
  opacity: 0.5;
}

#header-icon-left-1{
  padding:5px;
}

.header-center-name-1{
  margin: 0 10px;
}
.free-1{
  padding: 0 16px;
  margin-left: 15px;
  background-color:#00A6EB ;
  height: 32px;
  padding: 0 16px;
  justify-content: center;
}



.main-top-1{
  width: min(1116px,100%);
  margin: auto;
  height: 42px;
}

.main-top-1{
  display: flex;
  align-items: center;
  padding: 15px 0;
  color: white;
  justify-content: space-between;

}
.main-logo-1{
  font-size: 30px;
  padding-left: 12px;
}
.main-ul-1{
  padding-right: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.main-ul-1>li{
  padding: 10px 0 10px 30px;
}
.main-ul-1>li:hover{
  color: #47B2E4;
}
.main-ul-1>li:first-of-type{
  color: #47B2E4;
}
.main-btn-1>button,.mid-left-lbtn-1{
  all:unset;
  padding: 10px 22px;
  border: 1px solid #47B2E4;
  border-radius: 50px;
  font-size: 14px;
  
}
.main-btn-1>button:hover{
  background-color: #47B2E4;
  color: white;
}
.mid-left-tr-1{
  border-radius: 50%;
  border: 2px solid white;
  padding: 3px;
  margin-right: 5px;
  text-align: center;
}

.mid-left-rbtn-1:hover .mid-left-tr-1{
  color: #47B2E4 ;
  border: 2px solid #47B2E4;
}

/* maintop부분 */
.main-1{
  background-color: #37517e;
  height: 80vh;
  

}
.mid-left-img-1{
  height: 30px;
  width: 30px;
  filter: invert(100%);
  margin-right: 5px;


}
@keyframes move{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }

}
.mid-left-rbtn-1{
  all: unset;
}
.main-mid-1{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content:center ;
  padding: 250px 12px 0 12px;
  color: white;
  width: min(100%,1320px);
}
.mid-left-top-1{
  font-size: 48px;
  margin-bottom: 10px;

}
.mid-img-1{
  height: 452px;
  animation: move 2s ease-in-out infinite alternate-reverse both;
  flex: 1;
  padding: 0 12px;
}
.mid-left-mid-1{
  font-size: 24px; 
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.6);
  flex: 1;
}
.mid-left-1{
  padding: 0 12px;
  flex: 1;
}
.mid-left-rbtn-1{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 25px;
}
.mid-left-lbtn-1{
  margin-top: 10px;
  background-color: #47b2e4 ;
}
.mid-left-lbtn-1:hover{
  background-color: #23a3df;
}
.mid-left-bottom-1{
  display: flex;
}

/*drop down box*/
.drop-1{
  display: flex;
  align-items: center;
  position: relative;

} 
.drop-1:hover.drop-1>ul{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}
.drop-1 >ul{
  position: absolute;
  top: 30px;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  color: #0C3C53;
  padding: 10px 0;
  width: 200px;
  left: -20px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.drop-1 >ul>li{
  padding: 10px 20px;
  font-size: 14px;
  height: 21px;
}
.drop-side-1{
  position: relative;
}
.deep-drop-1{
  position: absolute;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  color: #0C3C53;
  left: -201px;
  padding: 10px 0;
  width: 200px;
  top: 0px;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.deep-drop-1>li{
  font-size: 14px;
  padding: 10px 20px;
  height: 21px;
}
.drop-side-1:hover >ul{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.drop-side-1:hover{
  color:#47B2E4 ;
}
