@import "./reset.css";



#Graph-hayoung{
    display: flex;
    padding: 100px;
     
     
}

#Graph_left {
    flex: 1;
}

#Graph_left_img {
    width: 456px;
    height: 280px; 
}
#Graph_left_img img {
    max-width: 100%;
    height: auto;
    
}




#Graph_right {
    flex: 2;
    padding: 20px;
}

#Graph_right_title {
    font-family: 'Jost', sans-serif;
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: 15px;
    color: #315d8d;

}

#Graph_right_content {
    margin-bottom: 20px;
    font-style: italic;
}

#Graph_right_Graph > div {
    margin-bottom: 10px;
    color: navy;
}


.Graph_right_Graph_s {
    
    margin-bottom: 20px; 
  }
  .graph-bar {
    width: 100%;
  }

  .graph-bar-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .progress-bar {
    position: relative;
    background-color: rgb(245, 241, 241);
    height: 15px;
    overflow: hidden; /* ??? 내부 요소가 넘쳐흐르지 않도록 처리 */

  }
  .progress-percent-1 {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #315d8d;

  }
  .progress-percent-2 {
    display: block;
    height: 100%;
    width: 90%;
    background-color: #315d8d;

  }
  .progress-percent-3 {
    display: block;
    height: 100%;
    width: 75%;
    background-color: #315d8d;

  }
  .progress-percent-4 {
    display: block;
    height: 100%;
    width: 55%;
    background-color: #315d8d;

  }
  


              



/* Services-hayoung 스타일 */
#Services-hayoung {
    
    padding: 100px ;
    
    background-color: #f4f4f4;
    margin-bottom: 0px;
    height: auto; 
    
}

#Services_title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);

}

#Services_title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    font-family: "Jost", sans-serif;
}
#Services_title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px); 
}

#Services_content_1 {
    margin-bottom: 0px;
    text-align: center;  
    /* color: navy;  */
    padding: 5px;
}

#Services_content_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.Services_BOX {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 100px;
    flex: 1;
    padding: 40px;
    background-color: white;
    border: none;
    text-align: flex-start;
    transition: background-color 0.3s, color 0.3s, transform 0.5s ease-out;
}
.Services_BOX:hover {
    color: rgb(93, 184, 226);
    transform: translateY(-10px);
}
/* 되긴하는데 두번째만 호버됨 첫번째는?*/

.Services_BOX_img img {
    max-width: 100%;
    width: 36px;;
    height: auto;

    
}

.Services_BOX_titles {
    font-family: 'Jost', sans-serif;
    color: #315d8d;
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
}

.services_BOX_titles:hover {
    color: rgb(93, 184, 226);
}

/* 호버가 적용안되는 문제 존재 -> button이 아니어서 그런것 같음. */


/* CallToAction-hayoung 스타일 */
/* 해결할 문제 : width 100%여야 하는데 안먹힘.  */
.call-to-action-hayoung {
    display: flex;
    background-image: url('../img_three/CallToAction.png'); 
    background-size: cover; /* 이미지가 div를 전체적으로 커버 */
    background-position: center; 
    text-align: center; 
    padding: 100px ; 
    color: white;
     
  }
.call-to-action-hayoung-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.call-to-action-hayoung-left h3 {
    font-family: 'Jost', sans-serif;
    font-size: 28px; 
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}
  
  
  /* 얜 직접 폰트 설정 */
  .call-to-action-hayoung button {
    background-color: transparent; /* 버튼 배경색 투명 */
    color: white;
    
    font-family: 'Jost', sans-serif;
    font-size: 16px; 
    /* margin-bottom: 15px; */
    /* margin-left: 120px; */
    
    
    border: 3px solid white; 
    
    width: 300px;
    
    padding: 12px 40px; 
    /* 버튼 내부 패딩 */
    cursor: pointer; 
    border-radius: 40px; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    margin: 0px 0px 15px 120px;

  }
  .call-to-action-hayoung button:hover {
    background-color: rgb(93, 184, 226); 
    color: white; 
    border-color: rgb(93, 184, 226); 
  }

  
  .Services_BOX:hover {
    color: rgb(93, 184, 226);
}



/* Contact-hayoung 스타일 */
#Contact-hayoung { 
  padding: 100px ;
  background-color: white;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  
  height: auto; 
  
}
#Contact_title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
  

}
#Contact_title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
  font-family: "Jost", sans-serif;
}
#Contact_title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px); 
}
#Contact_content_text {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

#Contact-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* 왼쪽 지도있는 박스 */
.contact-container-left::before {
  top: 0; /* 컨테이너 상단에 위치 */
}
.contact-container-left {
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  margin: 20px;
  /* background: #f9f9f9; 배경색 추가 */
  border-radius: 10px; /* 모서리 둥글게 처리 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
  width: 100%; /* 컨테이너 너비 설정 */
  max-width: 500px; /* 최대 너비 설정 */
  height: 600px;
  position: relative; /* 상대적 위치 설정 */
  padding-top: 10px; /* 상단 파란색 줄을 위한 공간 */
  padding-bottom: 10px; /* 하단 파란색 줄을 위한 공간 */
  height: 620px;
}
.contact-container-left::after {
  bottom: 0; /* 컨테이너 하단에 위치 */
}

.contact-container-left::before,
.contact-container-left::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #47b2e4; /* 파란색 배경 설정 */
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 100%;
}

.info-item {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 15px;
  color: #37517e;
  font-family: "Jost", sans-serif;
  /* border-bottom: 1px solid #eaeaea; 아이템 하단 경계선 추가 */
}

.info-item:last-child {
  border-bottom: none; /* 마지막 아이템의 하단 경계선 제거 */
}

.info-item img {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%; /* 아이콘 동그라미 모양 만들기 */
  transition: background-color 0.3s, transform 0.3s; /* 배경색과 변환에 부드러운 효과 적용 */
  background-color: #d3f1ff; 
  padding: 8px; /* 아이콘과 테두리 사이의 공간 */
}
.info-item img:hover {
  transform: scale(1.1); /* 아이콘을 10% 크게 만들기 */
  background-color: #47b2e4; /* 호버 시 그림자 효과 */
}

.info-item p {
  margin: 0; /* <p> 태그의 기본 마진 제거 */
  font-weight: bold; /* 글씨 굵게 */
  color: #333; /* 글씨 색상 조정 */
}

.map img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 0 0 10px 10px; /* 하단 모서리만 둥글게 처리 */
}


/* 오른쪽 표 */
.contact-container-right::before {
  top: 0; /* 컨테이너 상단에 위치 */
}
.contact-container-right {
  display: flex;
  flex-direction: column;
  width: 60%; /* 레이아웃에 맞게 너비 조정 */
  justify-content: center;
  /* background: #f9f9f9; */
  padding: 30px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative; /* 상대적 위치 설정 */
  padding-top: 10px; /* 상단 파란색 줄을 위한 공간 */
  padding-bottom: 10px; /* 하단 파란색 줄을 위한 공간 */
  height: 620px;
  max-width: 600px;
  margin: auto;
}
.contact-container-right::after {
  bottom: 0; /* 컨테이너 하단에 위치 */
}
.contact-container-right::before,
.contact-container-right::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #47b2e4; /* 파란색 배경 설정 */
}

.contact-container-right form {
  display: flex;
  flex-direction: column;
  width: 100%; /* 컨테이너의 전체 너비를 차지하도록 설정 */
}

.input-group {
  display: flex;
  flex-wrap: wrap; /* 작은 화면에서 입력란이 감싸지도록 설정 */
  
  margin-bottom: 20px;
}



.input-group label {
  display: block; /* 라벨을 블록 요소로 만들어 줄 바꿈 */
  margin-bottom: 5px; /* 라벨과 입력 필드 사이의 공간 */
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
  width: 100%; /* 전체 너비 */
  padding: 10px; /* 패딩 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 4px; /* 모서리 둥글기 */
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

.input-group textarea {
  height: 150px; /* 텍스트 영역의 높이 */
  resize: vertical; /* 세로로만 리사이즈 가능 */
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 버튼 위의 공간 추가 */
}
/* ddddd */
.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
  width: 100%; /* 전체 너비 */
  padding: 10px; /* 패딩 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 4px; /* 모서리 둥글기 */
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

.input-group textarea {
  height: 150px; /* 텍스트 영역의 높이 */
  resize: vertical; /* 세로로만 리사이즈 가능 */
  
}
/* ddddd */

button[type="submit"] {
  padding: 15px 30px; /* 더 큰 버튼을 위한 패딩 증가 */
  font-size: 18px; /* 가독성을 위한 폰트 크기 증가 */
  background-color: #47b2e4;
  color: white;
  border: none;
  border-radius: 30px; /* 버튼의 모서리 둥글게 */
  cursor: pointer;
  width: auto; /* 내용에 따라 자동으로 너비 설정 */
  height: auto; /* 내용에 따라 자동으로 높이 설정 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 버튼에 깊이를 주기 위한 그림자 추가 */
  transition: background-color 0.3s; /* 호버 효과를 위한 부드러운 전환 */
}

button[type="submit"]:hover {
  background-color: #399ec9;
}

/* 반응형 조정 */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input[type="text"],
  .input-group input[type="email"] {
    flex: none; /* 작은 화면에서는 flex 비활성화 */
    width: 100%; /* 작은 화면에서 입력란의 전체 너비 설정 */
  }
}
