@import "./reset.css";

/* 폰트 통일되었나? */
/*실수로 또 main branch에 올려서 다시 develop branch에 업로드하기위해 하는 push.*/



#Graph-hayoung{
    display: flex;
    padding: 100px;
     
     
}

#Graph_left {
    flex: 1;
}

#Graph_left_img {
    width: 456px;
    height: 280px; 
}
#Graph_left_img img {
    max-width: 100%;
    height: auto;
    
}




#Graph_right {
    flex: 2;
    padding: 20px;
}

#Graph_right_title {
    font-family: 'Jost', sans-serif;
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: 15px;
    color: #315d8d;

}

#Graph_right_content {
    margin-bottom: 20px;
    font-style: italic;
}

#Graph_right_Graph > div {
    margin-bottom: 10px;
    color: navy;
}


.Graph_right_Graph_s {
    
    margin-bottom: 20px; 
  }
  .graph-bar {
    width: 100%;
  }

  .graph-bar-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .progress-bar {
    position: relative;
    background-color: rgb(245, 241, 241);
    height: 15px;
    overflow: hidden; /* ??? 내부 요소가 넘쳐흐르지 않도록 처리 */

  }
  .progress-percent-1 {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #315d8d;

  }
  .progress-percent-2 {
    display: block;
    height: 100%;
    width: 90%;
    background-color: #315d8d;

  }
  .progress-percent-3 {
    display: block;
    height: 100%;
    width: 75%;
    background-color: #315d8d;

  }
  .progress-percent-4 {
    display: block;
    height: 100%;
    width: 55%;
    background-color: #315d8d;

  }
  


              



/* Services-hayoung 스타일 */
#Services-hayoung {
    
    padding: 100px ;
    
    background-color: #f4f4f4;
    margin-bottom: 0px;
    height: auto; 
    
}

#Services_title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);

}

#Services_title {
    /* text-align: center;  
    font-family: 'Jost', sans-serif;
    font-size: 36px; 
    font-weight: bold;
    color: #315d8d; */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
    font-family: "Jost", sans-serif;
}
#Services_title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px); 
}

#Services_content_1 {
    margin-bottom: 0px;
    text-align: center;  
    /* color: navy;  */
    padding: 5px;
}

#Services_content_2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.Services_BOX {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 100px;
    flex: 1;
    padding: 40px;
    background-color: white;
    border: none;
    text-align: flex-start;
    transition: background-color 0.3s, color 0.3s, transform 0.5s ease-out;
}
.Services_BOX:hover {
    color: rgb(93, 184, 226);
    transform: translateY(-10px);
}
/* 되긴하는데 두번째만 호버됨 첫번째는?*/

.Services_BOX_img img {
    max-width: 100%;
    width: 36px;;
    height: auto;

    
}

.Services_BOX_titles {
    font-family: 'Jost', sans-serif;
    color: #315d8d;
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
}

.services_BOX_titles:hover {
    color: rgb(93, 184, 226);
}

/* 호버가 적용안되는 문제 존재 -> button이 아니어서 그런것 같음. */


/* CallToAction-hayoung 스타일 */
/* 해결할 문제 : width 100%여야 하는데 안먹힘.  */
.call-to-action-hayoung {
    display: flex;
    background-image: url('../img_three/CallToAction.png'); 
    background-size: cover; /* 이미지가 div를 전체적으로 커버 */
    background-position: center; 
    text-align: center; 
    padding: 100px ; 
    color: white;
     
  }
.call-to-action-hayoung-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.call-to-action-hayoung-left h3 {
    font-family: 'Jost', sans-serif;
    font-size: 28px; 
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}
  
  
  /* 얜 직접 폰트 설정 */
  .call-to-action-hayoung button {
    background-color: transparent; /* 버튼 배경색 투명 */
    color: white;
    
    font-family: 'Jost', sans-serif;
    font-size: 16px; 
    /* margin-bottom: 15px; */
    /* margin-left: 120px; */
    
    
    border: 3px solid white; 
    
    width: 300px;
    
    padding: 12px 40px; 
    /* 버튼 내부 패딩 */
    cursor: pointer; 
    border-radius: 40px; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    margin: 0px 0px 15px 120px;

  }
  .call-to-action-hayoung button:hover {
    background-color: rgb(93, 184, 226); 
    color: white; 
    border-color: rgb(93, 184, 226); 
  }

  
  .Services_BOX:hover {
    color: rgb(93, 184, 226);
    

}
  

